<div class="container">
    <div class="row">
        <div class="col col-md-1">
            <label for="search">Search</label>
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <input class="form-control" id="search" ng-model="$ctrl.searchTerm">
            </div>
        </div>
        <div class="col col-md-5">
            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </div>

    <ul class="list-group">
        <li ng-repeat="babysitter in $ctrl.list" class="list-group-item">
            <span data-id="{{babysitter._id}}">{{babysitter.firstName}} {{ babysitter.lastName}}</span>
        </li>
    </ul>
</div>
